/* Estilo para el contenedor del gráfico */
.grafico-container {
    background-color: rgba(128, 128, 128, 0.5); /* Color de fondo gris medio transparente */
    max-width: 100%; /* Ancho deseado */
    height: 100%; /* La altura se ajusta automáticamente según el ancho */
    max-height: 100%; /* Alto deseado */
    margin: 0 auto; /* Alto deseado */
}
/* Estilo para los botones */
button {
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  margin: 5px; /* Margen exterior */
}

/* Cambia el color de fondo al pasar el mouse sobre el botón */
button:hover {
  background-color: #0056b3;
}

/* Estilo general para los select */
select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 24px;
    color: #333;
  }

/* Estilo para las opciones dentro de los select */
select option {
    padding: 5px;
    text-align: center;
    text-decoration: solid;
}

.form-group {
    text-align: center; /* Justifica el contenido del grupo de formularios a la derecha */
    /*margin-right: 50%; /* Esto ajustará el margen a la mitad de la pantalla */
    /*transform: translateX(50%); /* Centra horizontalmente el contenido del grupo de formularios */
}

.form-group label{
    text-align: left; /* Alinea los labels a la izquierda */
}
/* Estilo para los campos de entrada de texto */
input[type="text"] {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
}

/* Estilo para los campos de entrada de texto */
input[type="password"] {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
}

/* Estilo para el botón de envío */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px; /* Botón redondeado */
    padding: 15px 30px; /* Espaciado interno del botón */
    cursor: pointer;
    font-size: 24px; /* Tamaño de fuente del botón */
    transition: background-color 0.3s ease; /* Efecto de transición al pasar el cursor */
    /* Agregar margen en la parte superior e inferior para alejarlo de los campos de entrada */
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
}

/* Cambiar el color del botón al pasar el cursor sobre él */
input[type="submit"]:hover {
    background-color: #0056b3; /* Cambia el color al pasar el cursor */
}

h2 {
    color: #333;
    font-size: 20px;
}
