{%extends 'core/base.html'%}

{% block formats %}{% endblock %}


{% block title %} Advanced {% endblock %}

{% block blackground %}{% for project in projects %}{{project.image.url}}{% endfor %}{% endblock %}

{% block headers %}
    <h1>Advanced settings</h1>

    <button id="adv-conf" onclick="showAdvancedConfig()">Advanced wifi</button>
    <button id="webs-sett" onclick="showWebServerSettings()">Webserver settings</button>
    <button id="mqtt_conf" onclick="showMqttConfig()">Mqtt config</button>
       
    <div id="advanced_set" hidden>
        <br>
        <form id="advanced_set" method='post' action={% url 'advanced' %}>
            {% csrf_token %}
            <input type="hidden" name="formulario_id"  value="advanced_set">
            <div class="form-group">
                <label for="ssid">SSID: </label><br>
                <input type="text" id='ssid' name='ssid' length=32>
            </div>
            <div class="form-group">
                <label for="pass">PASS: </label><br>
                <input type="text" id='pass' name='pass' length=64>
            </div>
            <div class="form-group">
                <label for="ip">IP Address:</label><br>
                <input type="text" id='ip' name='ip' length=64>
            </div>
            <div class="form-group">
                <label for="gw_ip">GATEWAY IP: </label><br>
                <input type="text" id='gw_ip' name='gw_ip' length=64>
            </div>
            <div class="form-group">
                <label for="subnet">SUBNET: </label><br>
                <input type="text" id='subnet' name='subnet' length=64>
            </div>
            <div class="form-group">
                <label for="dns1">DNS1: </label><br>
                <input type="text" id='dns1' name='dns1' length=64><br>
                <label>(Optional)</label>
            </div>
            <div class="form-group">
                <label for="dns2">DNS2: </label><br>
                <input type="text" id='dns2' name='dns2' length=64><br>
                <label>(Optional)</label>
            </div>
            <div class="form-group">
                <input id="advanced_set" type='submit' value='Submit'>
            </div>
        </form>
    </div>
    <div id="adv-web-set"  hidden>
        <br>
        <form id="adv-web-set" action={% url 'advanced' %} method="post">
            {% csrf_token %}
            <input type="hidden" name="formulario_id"  value="adv-web-set">
            <div class="form-group">
                <label for="web_ssid">new SSID: </label><br>
                <input type="text" id='web_ssid' name='web_ssid' length=32>
            </div>
            <div class="form-group">
                <label for="web_pass">new PASS: </label><br>
                <input type="text" id='web_pass' name='web_pass' length=64>
            </div>
            <div class="form-group">
                <input type="submit" value="Save">
            </div>
        </form>
    </div>

    <div id="adv-mqtt-conf" hidden>
        <br>
        <h3>Advanced mqtt configuration</h3>
        <h3> Status: {mqtt_state}</h3>

        <form id="adv-mqtt-conf" method='post' action={% url 'advanced' %}>
            {% csrf_token %}
            <input type="hidden" name="formulario_id"  value="adv-mqtt-conf">
            <div class="form-group">
                <label for="server">Server: </label><br>
                <input type="text" id='server' name='server' length=32><br>
                <label>Ej:123.123.123.123</label>
            </div>
            <div class="form-group">
                <label for="port">Port: </label><br>
                <input type="text" id='port' name='port' length=64>
            </div>
            <div class="form-group">
                <label for="user">User: </label><br>
                <input type="text" id='user' name='user' length=64>
            </div>
            <div class="form-group">
                <label for="mqtt_pass">Password: </label><br>
                <input type="text" id='mqtt_pass' name='mqtt_pass' length=64>
            </div>
            <div class="form-group">
                <input type='submit' value='Connect'>
            </div>
        </form>
        <br>
        <form id="mqtt_conf_reset" method='post' action={% url 'advanced' %}>
            {% csrf_token %}
            <input type="hidden" name="formulario_id"  value="mqtt_conf_reset">
            <div class="form-group">
                <input type='submit' value='Default Broaker'>
            </div>
        </form>

    </div>

    {% load static %}
    <script src="{% static 'core/js/index.js' %}"></script>
{% endblock %}

{% block content %}

{% endblock %} 
