<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} |Quoia</title>

    <!-- Estilos y fuentes del template  -->
    {% load static %}
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'core/https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'core/css/clean-blog.min.css' %}" rel="stylesheet">
    <link  href="{% static 'core/css/input-format.css' %}" rel="stylesheet" type="text/css">
    {% block formats %}{% endblock %}
  </head>

  <body>

    <!-- Navegación -->
    {% if request.path != "/" %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'logout' %}"> LogOut </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menú
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}"> Inicio </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'wifi' %}">Wifi settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'metering' %}">Metering</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'operation' %}">Operation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'advanced' %}">Advanced</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'login' %}"> Solenium </a>
      </div>
    </nav>
    {% endif %}
    <!-- Cabecera -->
    <header class="masthead" style="background-image: url('{% block blackground %}{% endblock %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
                {% block headers %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Contenido -->
    {% block content %}{% endblock %}     <!-- TemplateTag: Le brinda lógica de programación al codigo html -->

    <!--- {% if request.path != "/" %}<hr>{% endif %} <!-- TemplateTag: Si la ruta es diferente a la raiz, entonces muestra una linea horizontal -->

    <!-- Pié de página -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="mailto:dummy@dummy.com">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="tel:+841841123">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; 2023 · Solenium </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap y Javascripts -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/clean-blog.min.js' %}"></script>
    <script src="{% static 'core/js/index.js' %}"></script>
  </body>

</html>
