{%extends 'core/base.html'%}

{% block title %} Inicio {% endblock %}

{% block blackground %}{% for project in projects %}{{project.image.url}}{% endfor %}{% endblock %}

{% block headers %}
    <h1>Quoia Frontera</h1>
    <span class="subheading"></span>
    <h3 style="font-size: 40px;">Web server Interface</h3>
    <ul>
        <li style="font-size: 30px;"><strong>Version de Firmware:  </strong>1.0.0</li>
        <li style="font-size: 30px;"><strong>Modo de operacion:  </strong>Calibración</li>
        <li style="font-size: 30px;"><strong>Estado Wifi:  </strong>Activo</li>
    </ul>
{% endblock %}

{% block content %}

{% endblock %} 
