{%extends 'core/base.html'%}

{% block formats %}{% endblock %}

{% block title %} Login {% endblock %}

{% block blackground %}{% for project in projects %}{{project.image.url}}{% endfor %}{% endblock %}

{% block headers %}
{% for project in projects %}
    <h1>{{project.title}}</h1>
    <span class="subheading"></span>
    <h3 style="font-size: 40px;">{{project.description}}</h3>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form name="myForm" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="ssid">Username:</label><br>
            <input type="text" id="username" name="username">
        </div>
        
        <div class="form-group">
            <label for="pass">Password:</label><br>
            <input type="password" id="password" name="password">
        </div>
        <div class="form-group">
            <input type="submit" value="login">
        </div>

    </form>
{% endfor %}
{% endblock %}

{% block content %}

{% endblock %} 
