{%extends 'core/base.html'%}

{% block formats %}{% endblock %}


{% block title %} Metering {% endblock %}

{% block blackground %}{% for project in projects %}{{project.image.url}}{% endfor %}{% endblock %}

{% block headers %}
    <h1>Metering</h1>
    <h3 style="font-size: 40px;">Actual metering values</h3>
    
    <button id="show-metering-graph" onclick="showGraph()">Stream data</button>
    <br><br>
    <div class="grafico-container" id="metering-container" hidden>
        <canvas id="realtime_data"></canvas>
    </div>


    {% load static %}
    <script src="{% static 'core/js/chart.js' %}"></script>
    <script src="{% static 'core/js/index.js' %}"></script>
    <script src="{% static 'core/js/live_chart.js' %}"></script>
{% endblock %}

{% block content %}

{% endblock %} 

