{%extends 'core/base.html'%}

{% block formats %}{% endblock %}


{% block title %} Operation {% endblock %}

{% block blackground %}{% for project in projects %}{{project.image.url}}{% endfor %}{% endblock %}

{% block headers %}
    <h1>Operation mode</h1>
    <h3 style="font-size: 40px;">Change operation mode</h3>
    <form name="operation_form" action="{% url 'operation' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <select id="mode" name="mode">
                <option value="0">Calibration</option>
                <option value="1">Simple</option>
                <option value="2">Standard</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Change">
        </div>

    </form>
{% endblock %}

{% block content %}

{% endblock %} 
