{%extends 'core/base.html'%}

{% block formats %}{% endblock %}


{% block title %} Wifi {% endblock %}

{% block blackground %}{% for project in projects %}{{project.image.url}}{% endfor %}{% endblock %}

{% block headers %}
    <h1>Wifi settings</h1>
    <h3 style="font-size: 40px;">MAC Address:</h3>
    <form name="wifi_form" action="{% url 'wifi' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="ssid">SSID:</label><br>
            <input type="text" id="ssid" name="ssid">
        </div>
        
        <div class="form-group">
            <label for="pass">Password:</label><br>
            <input type="text" id="pass" name="pass">
        </div>
        <div class="form-group">
            <input type="submit" value="Submit">
        </div>

    </form>
{% endblock %}

{% block content %}

{% endblock %} 
